body
{
	font-family: Segoe UI;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: #000;
}

@media (min-width: 1200px) {
	.page
	{
		margin: 0 auto;
		min-width:1200px;
		max-width:1280px;
	}
}

@media (min-width: 980px) {
	.page
	{
		margin: 0 auto;
		max-width:1200px;
		min-width:800px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.page
	{
		margin: 0 auto;
		max-width:800px;
		min-width:600px;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

.logo {
	padding: 10px 0px;
	width: 250px;
	margin-bottom: -20px;
	display: inline-block;
}

#navigation
{
	padding: 10px;
}
#content
{
	width: 850px;
	padding: 10px;
}
#content table tr
{
	text-align: center;
}
#ListContest
{
	padding: 20px 0px;
}
#info
{
	float: right;
	padding: 5px;
}
#info iframe
{
	width: 340px;
	height: 768px;
}
.sidebar
{
	float: right;
	padding: 10px;
}
.clear
{
	clear: both;
}
.property-title
{
	display: inline;
	padding: 0px 5px;
}
