body
{
	font-family: Segoe UI;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: #000;
}

a { text-decoration: none; }
#MenuBar li a { color: #FFF; text-decoration: none; }
#MenuBar li a:visited { color: #FFF; }
#MenuBar li a:active { color: #FFF; }
#MenuBar li a:hover { color: #FFF; }

#menu ul li
{
	display: inline;
	padding: 0px 5px;
}
#navigation
{
	padding: 10px;
}
#content
{
	width: 850px;
	padding: 10px;
}
#content table tr
{
	text-align: center;
}
#ListContest
{
	padding: 20px 0px;
}
#info
{
	float: right;
	padding: 5px;
}
#info iframe
{
	width: 340px;
	height: 768px;
}
#clear
{
	clear: both;
}
#footer
{
	padding: 10px;
	text-align: center;
}
.property-title
{
	display: inline;
	padding: 0px 5px;
}
